<div class="container mt-4">
  <div class="card shadow-sm p-4">
    <h5 class="card-title mb-3 text-center">🔍 Search Account</h5>

    <form class="d-flex flex-wrap justify-content-center align-items-center mb-3">
      <label for="accountNumber" class="form-label me-2">Enter Account Number</label>
      <input
        type="text"
        id="accountNumber"
        name="accountNumber"
        [(ngModel)]="accountNumber"
        class="form-control me-2"
        style="max-width: 250px;"
        placeholder="CUR-0123122"
      />
      <button type="button" class="btn btn-secondary" (click)="searchAccount()">Search</button>
    </form>

    <ng-container *ngIf="account$ | async as account">
      <div class="alert alert-info mt-3" *ngIf="account">
        <p id="accountNumber"><strong>Account Number:</strong> {{ account.accountNumber }}</p>
        <p id=""balance><strong>Balance:</strong> ₹{{ account.balance }}</p>
      </div>
    </ng-container>

        <div *ngIf="invalidAccount" class="alert alert-danger mt-3" >
    <p id="invalidAccount">❌ Invalid account number. Please try again.</p>
    </div>
  </div>
</div>
