<h3 style="text-align: center;">Banker Dashboard</h3>

<h4>Number of Accounts</h4>
<div style="width: 400px; margin: auto;">
  <div *ngIf="accountsLoaded">
    <canvas #pieChart baseChart
            *ngIf="accounts.length > 0"
            [data]="pieChartData"
            [type]="'pie'"
            [options]="pieChartOptions">
    </canvas>
    <p *ngIf="accounts.length === 0">No Accounts</p>
  </div>
  <p *ngIf="!accountsLoaded">Loading Accounts...</p>
</div>

<h4>Customer Profiles by Age Group</h4>
<div style="width: 600px; margin: 40px auto;">
  <div *ngIf="profilesLoaded">
    <canvas #barChart baseChart
            *ngIf="profiles.length > 0"
            [data]="ageGroupChartData"
            [type]="'bar'"
            [options]="ageGroupChartOptions">
    </canvas>
    <p *ngIf="profiles.length === 0">No Customers</p>
  </div>
  <p *ngIf="!profilesLoaded">Loading Customers...</p>
</div>
